// TODO: Separate and import different style sections in the future

// Vars
$card_item_color: #212e53;

// Mixins
@mixin animated($duration) {
    -webkit-transition: all $duration;
    transition: all $duration;
}

// Classes
h1, h2, h3, h4, h5, h6,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6,
table, .tab-container li a, {
    color: rgba(255, 255, 255, 0.80);
}

body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1e2a36,#0d2946);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1e2a36, #0d2946); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}

.overflow-container {
    width: 100%;
    margin: 0 0 3rem;
    left: 0;
    overflow: hidden;
}

#cycleContainer {
    padding: 3rem 0;

    .cycle-item:first-child {
        margin-left: 5rem;
    }
    
    .cycle-item:last-child {
        margin-right: 5rem;
    }

    .cycle-item {
        margin: 0 .5rem;
        padding: 5rem 0;
        cursor: pointer;
        border: none;
        background: $card_item_color;
        @include animated(.3s);

        &:hover {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
            -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
                    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
            @include animated(.3s);
        }
    }
}

#optionsContainer {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    @include animated(.3s);

    &.active {
        padding: 2rem 0;
        max-height: 100vh;
    }

    &.content {
        width: 100%;
    }
}

#tabs {
    width: 100%;

    .tabpage {
        display: none;
        min-height: 50vh;

        &.shown {
            display: block;
        }
    }
}

@media screen and (min-width: 769px) {
    #optionsContainer {
        padding: 0 2rem;

        &.active {
            padding: 2rem;
        }
    }
}


// Cirrus mods
.hero-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0 !important;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.form-group-label {
    white-space: nowrap;
    color: #fff;
    background: #15293f;
    border-color: #35426A;
}

input[type=number], select:not([multiple]) {
    background-color: #15293f;
    color: #fff;
    border: 1px solid #35426A;
}

.placeholder {
    color: #f3f3f3 !important;
}

.divider {
    background: rgba(238, 238, 238, 0.45);
}

.table thead, .table thead th {
    border-bottom: 2px solid rgba(219, 219, 219, 0.2);
}

.table td, .table th {
    border-bottom: 1px solid rgba(219, 219, 219, 0.15);
}

a p {
    color: #fff;
}