// TODO: Separate and import different style sections in the future

// Mixins
@mixin animated($duration) {
    -webkit-transition: all $duration;
    transition: all $duration;
}

// Classes
.hero-body {
    flex-direction: column;
}

.overflow-container {
    width: 100%;
    margin: 0 0 3rem;
    left: 0;
    overflow: hidden;

    .cycle-item h4 {
        margin-bottom: 0;
    }
}

#cycleContainer {
    .cycle-item:first-child {
        margin-left: 5rem;
    }
    
    .cycle-item:last-child {
        margin-right: 5rem;
    }

    .cycle-item {
        margin: 0 .5rem;
        padding: 5rem 0;
        cursor: pointer;
        @include animated(.3s);
    }
}


