// TODO: Separate and import different style sections in the future

// Vars
$card_item_color: #fff;

// Mixins
@mixin animated($duration) {
    -webkit-transition: all $duration;
    transition: all $duration;
}

// Classes

.overflow-container {
    width: 100%;
    margin: 0 0 3rem;
    left: 0;
    overflow: hidden;
}

#cycleContainer {
    padding: 3rem 0;

    .cycle-item:first-child {
        margin-left: 5rem;
    }
    
    .cycle-item:last-child {
        margin-right: 5rem;
    }

    .cycle-item {
        margin: 0 .5rem;
        padding: 5rem 0;
        cursor: pointer;
        border-width: 1px;
        background: $card_item_color;
        @include animated(.3s);

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
            @include animated(.3s);
        }
    }
}

#moreOptions {
    padding: 2rem 0;
    overflow: hidden;

    &.content {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    #moreOptions {
        padding: 2rem;
    }
}


// Cirrus mods
.hero-body {
    flex-direction: column;
    padding: 3rem 0;
}

.form-group-label {
    white-space: nowrap;
}