h1, h2, h3, h4, h5, h6,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6,
table, .tab-container li a {
  color: rgba(255, 255, 255, 0.8); }

body {
  background: #1b2536;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1a2536, #1b2536);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1a2536, #1b2536);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #1b2536;
  /* Fix the scrollbar showing up as white */ }

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent, rgba(30, 42, 54, 0.9)), url("../../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: -1; }

.overflow-container {
  width: 100%;
  margin: 0 0 3rem;
  left: 0;
  overflow: hidden; }

#cycleContainer {
  padding: 3rem 0; }
  #cycleContainer .cycle-item:first-child {
    margin-left: 5rem; }
  #cycleContainer .cycle-item:last-child {
    margin-right: 5rem; }
  #cycleContainer .cycle-item {
    margin: 0 .5rem;
    padding: 5rem 0;
    cursor: pointer;
    border: none;
    max-width: 20rem;
    background: #212e53;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    #cycleContainer .cycle-item:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }

#optionsContainer {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  #optionsContainer.active {
    padding: 2rem 0;
    max-height: 100vh; }
  #optionsContainer.content {
    width: 100%; }

#tabs {
  width: 100%; }
  #tabs .tabpage {
    display: none;
    min-height: 50vh; }
    #tabs .tabpage.shown {
      display: block; }

@media screen and (min-width: 769px) {
  #optionsContainer {
    padding: 0 2rem; }
    #optionsContainer.active {
      padding: 2rem; } }

.hero-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3rem 0 !important;
  -webkit-transition: all .3s;
  transition: all .3s; }

.form-group-label {
  white-space: nowrap;
  color: #fff;
  background: #15293f;
  border-color: #35426A; }

input[type=number], select:not([multiple]) {
  background-color: #15293f;
  color: #fff;
  border: 1px solid #35426A; }

.placeholder {
  color: #f3f3f3 !important; }

.divider {
  background: rgba(238, 238, 238, 0.45); }

.table thead, .table thead th {
  border-bottom: 2px solid rgba(219, 219, 219, 0.2); }

.table td, .table th {
  border-bottom: 1px solid rgba(219, 219, 219, 0.15); }

a p {
  color: #fff; }

.info {
  color: #fff; }

@media screen and (max-width: 768px) {
  .overflow-container .cycle-item {
    width: 70% !important; } }
